<!-- include: we can use sub templates using includes -->
<!-- this sub template will include head tag from head.ejs -->
<%- include("includes/head.ejs") %>
<body>
    <!-- this file displays error if account other than in data.json is searched -->
    <h2>No such account exists!</h2>
</body>
</html>