<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>
<body>
    <h1>Instagram</h1>
    <% for(post of posts){ %>
        <h2>@<%= post.username %></h2>
        <img src="<%= post.photo %>" alt="">
        <p><%= post.caption %></p>
        <form method="get" action="http://localhost:8080/posts/<%=post.id%>/edit">
            <button>Edit</button>
            <% } %>
        </form>
        <form method="get" action="http://localhost:8080/posts/new">
            <button>Add new post</button>
        </form>
</body>
</html>