@font-face {
    font-family: AmazonEmber;
    src: url("AmazonEmber/Amazon\ Ember.ttf");
}
  
*{
    margin: 0;
    font-family: AmazonEmber;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_logo{
    height: 50px;
    width: 110px;
}

.logo{
    height: 50px;
    width: 100%;
    background-image: url("./Assets/amazonlogo.png");
    background-size: cover;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/* box 2 */
.add-first{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second{
    color: white;
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}

/* box 3 */
.nav-search{
    width: 620px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 2px solid transparent;
}

.search-select{
    width: 50px;
    height: 100%;
    text-align: center;
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    height: 95%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    height: 40px;
    font-size: 1rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #febd68;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0F1111;
}

.nav-search:hover{
    border: 2px solid orange;
}

/* Box 4 and 5 */
span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* Box 6 */

.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    display: flex;
    align-items: center;
    height: 85%;
    font-size: 0.85rem;
    font-weight: 700;
}

.panel{
    height: 40px;
    color: white;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
}

.hero-section{
    background-image: url("./Assets/hero_image.jpg");
    background-size: cover;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: black;
    font-size: 0.85rem;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #007185;
    text-decoration: none;
}

/* shop section */
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #E2E7E6;
}

.box{
    width: 23%;
    height: 400px;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img{
    height: 300px;
    background-size: cover;

}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}