/* 
* - universal selector - selects all elments in the doc
h1, h3, span ,etc - element selector

#myId - Id selector(Id should be unique for each element)

.myClass - class selector(Class of multiple elements can be same)

Descendent selector - div p - it selects all the paragraph inside the div tag

Adjacent sibling combinator - p+h3 - it selects h3 that comes immediately after any paragraph

Child Combinator - span>button - selects all buttons which are direct children of spans.

Attribute selector - input[attr="value"] - selects elements based on the presence or value of a given attribute.

Importance : id>class>element
*/

/* 
Pseudo classes: A keyword added to a selecor that specifies a special state of the selected element(s)
- :hover : used to change element properties when hovered
- :active : when a button or element is cliked
- :checked : used for radio or checkbox 
- :nth-of-type : used for nth elements
*/

/* 
Pseudo Elements : A keyword added to a selector that lets you style a specific part of the selected element(s)
- ::first-letter
- ::first-line
- ::selection : used to change properties of selected text or area
*/

/* 
Selector specificity
id>class,attr,pseudo-class>element,pseudo-element
*/

/* 
Inline specificity : If we change properties using inline css then, it will be highest priority.
*/

*{
    font-family: 'Courier New';
    /* background-color: wheat; */
}
h1, h3{     /* we can group multiple elements if we want to give similar properties to multiple elements */
    color: #b92b27;
}
#login{
    background-color: white;
}
#signup{
    background-color: #b92b27;
    color: white;
}
.upvote{
    background-color: green;
    color: white;
}

/* Practice question */
#myId{
    color: green;
}

/* Descendent selector - It will change all the elements with same heirarchy */
/* It is not compulsary that element is a direct child */
/* p a{
    color: purple;
    background-color: yellow;
} */

.post a{
    color: purple;
    background-color: yellow;
}
nav a{
    color: hotpink;
}

/* Adjacent Sibling Combinator */
p+h3{
    text-decoration: underline;
}
.upvote+button{
    background-color: cornflowerblue;
    color: darkblue;
}

/* Child Combinator : only on direct child */
div>input{
    background-color: blanchedalmond;
}

/* Attribute selector */
input[type="text"]{
    color: red;
}
input[type="password"]{
    color: green;
}

/* Pseudo classes */

button:hover{
    background-color: black;
    color: white;
}
h3:hover{
    text-decoration: none;
}

/* :active */
button:active{
    background-color: pink;
}
p:active{
    font-weight: bold;
    color: green;
}

/* :checked */
input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}

/* :nth-of-type() */
/* every 2nth element will be selected */
div:nth-of-type(2n){        
    background-color: blanchedalmond;
}

/* Pseudo Elements */
h1::first-letter{
    color: pink;
}
p::first-line{
    color: blue;
}
p::selection{
    background-color: beige;
}