/* 
* - universal selector - selects all elments in the doc
h1, h3, span ,etc - element selector
#myId - Id selector(Id should be unique for each element)
.myClass - class selector(Class of multiple elements can be same)
*/

*{
    font-family: 'Courier New';
    /* background-color: wheat; */
}
h1, h3{     /* we can group multiple elements if we want to give similar properties to multiple elements */
    color: #b92b27;
}
#login{
    background-color: white;
}
#signup{
    background-color: #b92b27;
    color: white;
}
.upvote{
    background-color: green;
    color: white;
}