<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new user</title>
</head>
<body>
    <h2>Add new user</h2>
    <form method="post" action="/user/add/addUser">
        <input type="text" name="username" placeholder="Enter your username...">
        <br>
        <input type="email" placeholder="Enter your email..." name="email">
        <br>
        <input type="password" name="password" placeholder="Enter your password...">
        <br>
        <button type="submit">Add</button>
    </form>
</body>
</html>