<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete user</title>
</head>
<body>
    <form method="post" action="/user/<%=user.id%>?_method=DELETE">
        <h2>You are about to delete: <%=user.email%></h2>
        <input type="password" name="password" placeholder="enter your password...">
        <br>
        <button type="submit">Delete</button>
    </form>
</body>
</html>